<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>ClientId</key>
  <string>KT5xF0RdllvNcI5HzFZrKBHiH4K4a7QS</string>
  <key>Domain</key>
  <string>premiumplus.eu.auth0.com</string>
</dict>
</plist>
